<!doctype html>
<html>
<head>
  <!-- 8.5 x 11 -->
  <style type="text/css">
      @page {
          size: letter;
           /* 0.5in 0.19in */
          margin-top: 0.5in;
          margin-left: 0.19in;
          margin-bottom: auto;
          margin-right: auto;
      }
      body {
          padding: 0;
          margin: 0;
          width: 8.25in;
          height: 10in;
      }
      table {
          border-collapse: collapse;
          border: 0;
          margin: 0;
          padding: 0;
      }
      tr {
          border: 0;
          margin: 0;
          padding: 0;
      }
      .label-pitch {
          border: 0;
          padding: 0;
          margin: 0;
          width: 2.75in;
          height: 1in;
      }
      .label {
          border: 0;
          padding: 0;
          width: 2.63in;
          height: 1in;
          /* should be handled by pitch */
          margin: 0 0.12in 0 0;
      }
      .label-box {
          margin: 0;
          padding: 0;
          border: 0;
      }
      .even .label {
          color: #fff;
      }
      .label-image {
          display: inline-block;
          border: 6px solid #00ae00;
          border-radius: 6px;
          margin: 4px 4px;
      }
      .label-text {
          display: inline-block;
          vertical-align: top;
          margin: 4px 4px;
          padding-top: 10px;
      }
      .label-title {
          font-size: 16px;
          margin: 0 0 5px 0;
          padding: 0;
          color: #008000;
          font-family: Arial;
      }
      .label-url {
          font-size: 10px;
          color: #444;
          margin: 0 0 5px 0;
          padding: 0;
          font-family: Arial;
      }
  </style>
</head>
<body>
  <table>
    <tr>
      <td class="label-pitch col-left">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-middle">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-right">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label-pitch col-left">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-middle">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-right">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label-pitch col-left">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-middle">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-right">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label-pitch col-left">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-middle">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-right">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label-pitch col-left">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-middle">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-right">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label-pitch col-left">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-middle">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-right">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label-pitch col-left">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-middle">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-right">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label-pitch col-left">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-middle">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-right">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label-pitch col-left">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-middle">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-right">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label-pitch col-left">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-middle">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
      <td class="label-pitch col-right">
        <div class="label">
          <div class="label-box">
            <img class="label-image" src="images/basil.png">
            <div class="label-text">
              <h5 class="label-title">share your crop</h5>
              <h6 class="label-url">seed.io/basil</h6>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
